
@media only screen and (min-width: 330px) and (max-width: 390px) {
    .collaboration {
        width: 100%;
        min-height: 250px!important;
        background-color: #375bcd;
        padding: 0px;
    }

    .collaboration .container-collaboration {
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 5px!important;
        box-sizing: border-box;
    }

    .collaboration .container-collaboration .collaboration-title {
        text-align: center;
        width: 100% !important;
        margin: 30px auto!important;
        margin-bottom: 0px!important;

    }

    .collaboration .container-collaboration .collaboration-title h2 {
        color: #375bcd;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff000;
        border-radius: 4px;
        font-size: 18px !important;
    }

    .collaboration .container-collaboration .content-collaboration {
        padding: 0px !important;
        box-sizing: border-box;
        margin-top: 0px!important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-reguler {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 50px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-reguler h3 {
        color: #375bcd;
        font-size: 16px !important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-ais {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 30px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-ais h3 {
        color: #375bcd;
        font-size: 16px !important;
    }

    .collaboration .container-collaboration .content-collaboration img {
        width: 100px;
        display: none;
    }
}


@media only screen and (min-width: 400px) and (max-width: 460px) {
    .collaboration {
        width: 100%;
        min-height: 250px!important;
        background-color: #375bcd;
        padding: 0px;
    }

    .collaboration .container-collaboration {
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 5px!important;
        box-sizing: border-box;
    }

    .collaboration .container-collaboration .collaboration-title {
        text-align: center;
        width: 100% !important;
        margin: 30px auto!important;
        margin-bottom: 0px!important;

    }

    .collaboration .container-collaboration .collaboration-title h2 {
        color: #375bcd;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff000;
        border-radius: 4px;
        font-size: 18px !important;
    }

    .collaboration .container-collaboration .content-collaboration {
        padding: 0px !important;
        box-sizing: border-box;
        margin-top: 0px!important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-reguler {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 50px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-reguler h3 {
        color: #375bcd;
        font-size: 16px !important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-ais {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 30px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-ais h3 {
        color: #375bcd;
        font-size: 16px !important;
    }

    .collaboration .container-collaboration .content-collaboration img {
        width: 100px;
        display: none;
    }
}

@media only screen and (min-width: 500px) and (max-width: 576px) {
    .information .col-lg-7{
        height: 550px!important;
    }
    .collaboration {
        width: 100%;
        min-height: 325px!important;
        background-color: #375bcd;
    }

    .collaboration .container-collaboration {
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .collaboration .container-collaboration .collaboration-title {
        text-align: center;
        width: 100% !important;
        margin: auto;

    }

    .collaboration .container-collaboration .collaboration-title h2 {
        color: #375bcd;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff000;
        border-radius: 4px;
        font-size: 24px !important;
    }

    .collaboration .container-collaboration .content-collaboration {
        padding: 0px !important;
        box-sizing: border-box;
        margin-top: 15px;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-reguler {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 50px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-reguler h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-ais {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 30px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-ais h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration img {
        width: 100px;
        display: none;
    }
}
@media only screen and (min-width: 580px) and (max-width: 630px) {
    .information .col-lg-7{
        height: 550px!important;
    }
    .collaboration {
        width: 100%;
        min-height: 325px!important;
        background-color: #375bcd;
    }

    .collaboration .container-collaboration {
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .collaboration .container-collaboration .collaboration-title {
        text-align: center;
        width: 100% !important;
        margin: auto;

    }

    .collaboration .container-collaboration .collaboration-title h2 {
        color: #375bcd;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff000;
        border-radius: 4px;
        font-size: 24px !important;
    }

    .collaboration .container-collaboration .content-collaboration {
        padding: 0px !important;
        box-sizing: border-box;
        margin-top: 15px;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-reguler {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 50px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-reguler h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-ais {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 30px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-ais h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration img {
        width: 100px;
        display: none;
    }
}

@media only screen and (min-width: 640px) and (max-width: 720px) {
    .information .col-lg-7{
        height: 550px!important;
    }
    .collaboration {
        width: 100%;
        min-height: 325px!important;
        background-color: #375bcd;
    }

    .collaboration .container-collaboration {
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .collaboration .container-collaboration .collaboration-title {
        text-align: center;
        width: 100% !important;
        margin: auto;

    }

    .collaboration .container-collaboration .collaboration-title h2 {
        color: #375bcd;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff000;
        border-radius: 4px;
        font-size: 24px !important;
    }

    .collaboration .container-collaboration .content-collaboration {
        padding: 0px !important;
        box-sizing: border-box;
        margin-top: 15px;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-reguler {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 50px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-reguler h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-ais {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 30px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-ais h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration img {
        width: 100px;
        display: none;
    }
}

@media only screen and (min-width: 730px) and (max-width: 760px) {
    .information .col-lg-7{
        height: 550px!important;
    }
    .collaboration {
        width: 100%;
        min-height: 325px!important;
        background-color: #375bcd;
    }

    .collaboration .container-collaboration {
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .collaboration .container-collaboration .collaboration-title {
        text-align: center;
        width: 100% !important;
        margin: auto;

    }

    .collaboration .container-collaboration .collaboration-title h2 {
        color: #375bcd;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff000;
        border-radius: 4px;
        font-size: 24px !important;
    }

    .collaboration .container-collaboration .content-collaboration {
        padding: 0px !important;
        box-sizing: border-box;
        margin-top: 15px;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-reguler {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 50px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-reguler h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-ais {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 30px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-ais h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration img {
        width: 100px;
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
    .collaboration {
        width: 100%;
        min-height: 300px !important;
        background-color: #375bcd;
    }

    .collaboration .container-collaboration {
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .collaboration .container-collaboration .collaboration-title {
        text-align: center;
        width: 100% !important;
        margin: auto;

    }

    .collaboration .container-collaboration .collaboration-title h2 {
        color: #375bcd;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff000;
        border-radius: 4px;
        font-size: 24px !important;
    }

    .collaboration .container-collaboration .content-collaboration {
        padding: 0px !important;
        box-sizing: border-box;
        margin-top: 15px
    }

    .collaboration .container-collaboration .content-collaboration .box-program-reguler {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 50px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-reguler h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-ais {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 30px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-ais h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration img {
        width: 100px;
        display: none;
    }
}
@media only screen and (min-width: 830px) and (max-width: 1270px) {
    .collaboration {
        width: 100%;
        height: 225px !important;
        background-color: #375bcd;
    }

    .collaboration .container-collaboration {
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .collaboration .container-collaboration .collaboration-title {
        text-align: center;
        width: 100% !important;
        margin: auto;

    }

    .collaboration .container-collaboration .collaboration-title h2 {
        color: #375bcd;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff000;
        border-radius: 4px;
        font-size: 24px !important;
    }

    .collaboration .container-collaboration .content-collaboration {
        padding: 0px !important;
        box-sizing: border-box;
        margin-top: 15px
    }

    .collaboration .container-collaboration .content-collaboration .box-program-reguler {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 50px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-reguler h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-ais {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 30px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-ais h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration img {
        width: 100px;
        display: none;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1368px) {
    .collaboration {
        width: 100%;
        min-height: 300px !important;
        background-color: #375bcd;
    }

    .collaboration .container-collaboration {
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .collaboration .container-collaboration .collaboration-title {
        text-align: center;
        width: 100% !important;
        margin: auto;

    }

    .collaboration .container-collaboration .collaboration-title h2 {
        color: #375bcd;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff000;
        border-radius: 4px;
        font-size: 24px !important;
    }

    .collaboration .container-collaboration .content-collaboration {
        padding: 0px !important;
        box-sizing: border-box;
        margin-top: 15px
    }

    .collaboration .container-collaboration .content-collaboration .box-program-reguler {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 50px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-reguler h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    .collaboration .container-collaboration .content-collaboration .box-program-ais {
        line-height: 300px !important;
        text-align: center;
        width: 100%;
        min-height: 40px;
        background-color: #fff000;
        margin-top: 30px;
        border-radius: 4px;
        padding: 10px !important;
    }

    .box-program-ais h3 {
        color: #375bcd;
        font-size: 20px !important;
    }

    i {
        font-size: 40px;
        vertical-align: middle;
    }

    i+span {
        margin-left: 10px;
    }
    .box-contact{
        width: 100%;
        background-color: #DDD;
    }

    .box-contact span{
        color: #000;
        font-size: 10px!important;
    }
    .box-icon{
        width: 35px;
        padding: 10px;
        text-align: center;
        line-height: 60px;
        display: inline-block;
        background-color: #375bcd;
        border-radius: 4px;
        color: #fff;
    }
    .image-facility img{
        width: 50%;
    }
}
