.box-contact i {
    font-size: 15px;
    vertical-align: middle;
}

.box-contact i+span {
    margin-left: 10px;
}

.box-contact {
    width: 100%;
    background-color: #DDD;
}

.box-contact span {
    color: #000;
}

.box-icon {
    width: 35px;
    padding: 10px;
    text-align: center;
    line-height: 60px;
    display: inline-block;
    background-color: #375bcd;
    border-radius: 4px;
    color: #fff;
}

.image-facility img {
    width: 50%;
}

